.navbar-icon {
    font-size: 130% !important;
    color: #a3a4a6;
}

.side-menu {
    padding-left: 0;
    list-style: none;
}

.side-menu .list-side-menu {
    position: relative;
    display: block;
    padding: .625rem .9375rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.side-menu .list-side-menu.list-side-menu-action {
    width: 100%;
    color: #4E5055;
    text-align: inherit;
}

.side-menu .list-side-menu.list-side-menu-action:hover {
    color: #dc2f2f;
    background-color: rgba(24, 28, 33, 0.015);
}

.side-menu .list-side-menu.list-side-menu-action.active {
    color: #dc2f2f;
    font-weight: 500;
    border-left: 3px solid #dc2f2f;
    padding-left: 1.2rem;
}
