/*
 * Base
*/

.navbar .dropdown-menu {
  -webkit-animation: shopDropdownAnimation .25s !important;
  animation: shopDropdownAnimation .25s !important;
}

.navbar {
  z-index: 15;
}

/*
 * Cart dropdown
*/

@media (min-width: 768px) {
  .shop-cart-dropdown .dropdown-menu {
    width: 340px;
  }
}

/*
 * Special deals
*/

.shop-special-deal-label {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

[dir=rtl] .shop-special-deal-label {
  right: auto;
  left: 1.5rem;
}

/*
 * Hero slider
*/

.shop-hero-container {
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* IE 10-11 fix */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .shop-hero-container:after {
    content: '';
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    min-height: inherit;
    width: 0;
    font-size: 0;
  }
}


/* Hide arrows, show on hover */
#shop-hero-slider .swiper-button-prev,
#shop-hero-slider .swiper-button-next {
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

#shop-hero-slider:hover .swiper-button-prev,
#shop-hero-slider:hover .swiper-button-next {
  opacity: 1;
}

/* Hero slider animations */
.shop-hero-slider-animated {
  opacity: 0;
}

.shop-hero-slider-animating .shop-hero-slider-animated {
  -webkit-animation: shopHeroSliderAnimation .5s forwards;
  animation: shopHeroSliderAnimation .5s forwards;
}

.shop-hero-slider-delay-1 {
  -webkit-animation-delay: .2s !important;
  animation-delay: .2s !important;
}

.shop-hero-slider-delay-2 {
  -webkit-animation-delay: .4s !important;
  animation-delay: .4s !important;
}

.shop-hero-slider-delay-3 {
  -webkit-animation-delay: .6s !important;
  animation-delay: .6s !important;
}

.shop-hero-slider-delay-4 {
  -webkit-animation-delay: .8s !important;
  animation-delay: .8s !important;
}

/*
 * Popular categories
*/

.shop-popular-categories .img-thumbnail:hover,
.shop-popular-categories .img-thumbnail:focus {
  z-index: 10;
}

.shop-popular-categories .img-thumbnail .ui-bg-overlay {
  -webkit-transition: .3s;
  transition: .3s;
}

.shop-popular-categories .img-thumbnail:hover .ui-bg-overlay,
.shop-popular-categories .img-thumbnail:focus .ui-bg-overlay {
  opacity: 0 !important;
}

/*
 * Filters
*/

.shop-filters-slider .noUi-tooltip {
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.shop-filters-slider:hover .noUi-tooltip,
.shop-filters-slider.noUi-state-drag .noUi-tooltip {
  opacity: 1;
}

/*
 * Product grid
*/

@media (max-width: 767px) {

  .shop-list-row>*[class]::before,
  .shop-list-row>*[class]::after {
    display: none !important;
  }
}

.shop-list-content[class]::after {
  display: none !important;
}

/*
 * Checkout
*/

@media (min-width: 768px) {
  #shop-checkout-wizard {
    max-width: 900px !important;
  }
}

#shop-checkout-wizard .sw-btn-next.disabled,
#shop-checkout-wizard .sw-btn-prev.disabled {
  display: none;
}

#shop-checkout-wizard .sw-btn-finish {
  display: none;
}

#shop-checkout-wizard .sw-btn-next.disabled~.sw-btn-finish {
  display: inline-block;
}

/*
 * Animations
*/

@-webkit-keyframes shopDropdownAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes shopDropdownAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shopHeroSliderAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes shopHeroSliderAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.header-brand-img {
  height: 2rem;
  line-height: 2rem;
  vertical-align: bottom;
  margin-right: 0rem;
  width: auto;
}

/* Navbar Icon */
.nav-billy{color:#4E5155 !important;}
.nav-billy:hover, .nav-billy:focus {
  color: #dc2f2f !important;
}
.nav-billy.active {
  color: #dc2f2f !important;
}
/* .navbar-icon{color:#a3a4a6}  */
/* .navbar-icon{font-size: 170%; color:#a3a4a6}
.navbar-icon:hover,.navbar-icon:active{color:#FF7346} */

.badge.indicator:not(.badge-dot) {
  -webkit-transform: translate(0%, -40%);
  transform: translate(0%, -40%);
}

/* Akun Dropdown */
.billy-dropdown {
  padding: .25rem 1rem .25rem 1rem;
}

/* Navbar Icon */

/* Notifikasi */

.notifikasi-billy .dropdown-menu {
  overflow: hidden;
  padding: 0;
}

.notifikasi-billy .dropdown-menu {
  margin-top: .5rem;
  width: 22rem;
}

/* Notifikasi */

/* Input Round */

.input-round {
  border-radius: 60rem !important;
}

/*  */

.card-product {
  /* border: 1px solid rgba(24, 28, 33, 0.06) !important; */
  /* width: 209.6px; */
  /* margin-right: 5px;
  margin-left: 0px; */
}

.card-product:hover {
  -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,0.1) !important;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.1) !important;
  /* box-shadow:0 1px 10px 0 rgba(0,0,0,0.15) */
}

.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 200px;
  text-align: center;
}

.card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  /* border-top: 1px solid #eee; */
  height: 100px;
}

.nama-produk {
  display: block;
  color: #4E5155;
  margin-bottom: 0.4rem;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.96rem;
  line-height: 1.4;
}

.nama-produk:hover {
  color: #dc2f2f;
}

del {
  font-size: 13px;
}

.card-product .bottom-wrap {
  padding: 15px;
}

.count-limit {
  top: 172px;
  left: 0px;
  position: absolute;
  display: block;
  z-index: 12;
  width: 100%;
}

.badge-new {
  top: 7px;
  left: 7px;
  position: absolute;
  display: block;
  z-index: 10;
  padding: 2px 7px;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
}

.badge-offer {
  display: block;
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 11;
}

.badge-offer b {
  background: #dc2f2f;
  padding: 7px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  height: 36px;
  width: 50px;
  position: relative;
}

.badge-offer b:after {
  border-top: 7px solid #dc2f2f;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 36px;
  width: 0;
}

.col-product {
  position: relative;
  width: 100%;
  min-height: 1px;
  margin-right: 5px;
  margin-left: 5px;
  -ms-flex: 0 0 93%;
  flex: 0 0 93%;
  max-width: 93%;
}

@media (min-width: 320px) {
  .col-product {
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
  }

  .card-product .info-wrap {
    height: 65px;
  }

  .label-payment::before {
    top: .2rem;
  }
}

@media (min-width: 395px) {
  .card-product .info-wrap {
    height: 75px;
  }
}

@media (min-width: 576px) {
  .col-product {
    -ms-flex: 0 0 31.45%;
    flex: 0 0 31.45%;
    max-width: 31.45%;
  }
}

@media (min-width: 768px) {
  .col-product {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
}

@media (min-width: 992px) {
  .col-product {
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    max-width: 23%;
  }

  .label-payment::before {
    top: .46rem;
  }

  .card-product .info-wrap {
    height: 75px;
  }
}

@media (min-width: 1200px) {
  .col-product {
    -ms-flex: 0 0 19%;
    flex: 0 0 19%;
    max-width: 19%;
  }
}

.title-section {
  border-bottom: 2px solid #dc2f2f;
  padding-bottom: 10px;
}

.keuntungan {
  border-top: 5px solid #dc2f2f;
}

.head-checkout a {
  color: #4E5155 !important;
  font-weight: 500 !important;
}

.menu-head {
  color: #4E5155;
}

.menu-head:hover {
  color: #dc2f2f;
}

.menu-list.list-group-item-action.active {
  color: #dc2f2f;
  background-color: #fff;
  border-color: #f1f1f2;
}

.menu-list {
  color: #4E5155;
}

.menu-list:hover {
  color: #dc2f2f;
}

.side-menu {
  padding-left: 0;
  list-style: none;
}

.side-menu .list-side-menu {
  position: relative;
  display: block;
  padding: .625rem .9375rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;  
}

.side-menu .list-side-menu.list-side-menu-action {
  width: 100%;
  color: #4E5055;
  text-align: inherit;
}

.side-menu .list-side-menu.list-side-menu-action:hover {
  color:#dc2f2f;
  background-color:rgba(24,28,33,0.015);
}

.side-menu .list-side-menu.list-side-menu-action.active {
  color:#dc2f2f;
  font-weight: 500;
  border-left: 3px solid #dc2f2f;
  padding-left: 1.2rem;
}

#file-upload {
  display: none;
}

.invoice-checklist {
  width: 100%;
  margin: 20px 0 55px 0;
  padding-left: 3px
}

.invoice-checklist .check-item {
  float: left;
  position: relative;
  z-index: 1;
  margin-left: -3px
}

.invoice-checklist .check-item .check-text {
  text-align: center;
  position: absolute;
  bottom: -25px;
  left: 0px;
  font-size: 16px;
  font-family: "Lato-Regular", sans-serif;
  color: #aaaaaa
}

.invoice-checklist .check-item .check-point-done {
  display: none
}

.invoice-checklist .check-item .check-point {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 29px;
  border-radius: 50%;
  background-color: #ededed;
  color: #fff
}

.invoice-checklist .check-item .check-point .border {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #9b9b9b;
  line-height: 22px;
  font-size: 12px;
  background-color: #dadada
}

.invoice-checklist .check-item.done .check-text {
  color: #000;
  font-family: "Lato-Regular", sans-serif
}

.invoice-checklist .check-item.done .check-point {
  line-height: 28px
}

.invoice-checklist .check-item.done .check-point .border {
  line-height: 20px;
  background-color: #0f476d;
  border-color: #0f476d
}

.invoice-checklist .check-item.done .check-point .border .number {
  display: none
}

.invoice-checklist .check-item.done .check-point .border .check-point-done {
  display: inline-block;
  width: 16px
}

.invoice-checklist .check-item.current .check-text {
  color: #000;
  font-family: "Lato-Regular", sans-serif
}

.invoice-checklist .check-item.current .check-point .border {
  background-color: #0f476d;
  border-color: #0f476d;
  line-height: 20px
}

.invoice-checklist .check-item.expired .border {
  border-color: #000;
  background-color: #000
}

.invoice-checklist .check-item.expired .border .check-point-expired {
  display: inline-block;
  position: relative;
  font-size: 14px;
  top: -2px
}

.invoice-checklist .check-item.expired .border .number {
  display: none
}

.invoice-checklist .check-item.expired .check-text {
  color: #000
}

.invoice-checklist .check-bar {
  float: left;
  height: 4px;
  width: calc(9.30% - 30px);
  background-color: #ededed;
  margin-top: 13px;
  margin-left: -3px;
  position: relative;
  z-index: 3
}

.invoice-checklist .check-bar.done {
  background-color: #0f476d
}

.invoice-checklist .check-bar.expired {
  background-color: #000
}

.cpy {
  text-decoration: underline;
  text-decoration-style: dashed;
}

.node {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  transition: all 1000ms ease;
  background-color: rgba(201, 201, 201, 1);
}

.activated {
  box-shadow: 0px 0px 3px 2px rgba(194, 255, 194, 0.8);
}

.divider {
  height: 30px;
  width: 2px;
  margin-left: 4px;
  transition: all 800ms ease;
  background-color: rgba(201, 201, 201, 1);
}

#history-shipping li div.active {
  background-color: #dc2f2f;
}

#promo {
  background-color: #dc2f2f;
}

.swiper-button-next.swiper-banner-next {
  right: 0px;
}

.swiper-button-prev.swiper-banner-prev {
  left: 0px;
}

.dropzone {
  background-color: #ececec;
  border-radius: 8px;
  padding: 0px;
}

/* Widget scrollable */

@media (min-width: 576px) {
  #leaderboard-content {
    height: 223px
  }
}

@media (min-width: 768px) {
  #leaderboard-content {
    height: 325px
  }
}

@media (min-width: 992px) {
  #leaderboard-content {
    height: 245px
  }
}

.page-item.active .page-link,.page-item.active .page-link:hover,.page-item.active .page-link:focus,.pagination li.active>a:not(.page-link),.pagination li.active>a:not(.page-link):hover,.pagination li.active>a:not(.page-link):focus{
  border-color:#a9a9a9 !important;
  background-color:#a9a9a9 !important;
  color:#fff !important
}

#tab-faq {
  color: #4E5155 !important;
  font-weight: 500 !important;
  transition: .5s  
}

#tab-faq:hover span{
  color: #DC2F2F !important;
  border: 2px solid #DC2F2F;
  background-color: white !important;
}

#tab-faq:hover {
  color: #DC2F2F !important;
}

#tab-faq span {
  background-color: rgba(24,28,33,0.06) !important;
}

#tab-faq div {
  margin-top: 10px;
}

.section-title {
  font-size: 18px;
  font-weight: 500;  
}

.section-title:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 5px;
  height: 20px;
  bottom: -4px;
  margin-right: 7px;
  background-color: #D12D2D;
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  z-index: 15;
}    
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 7px 0;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  font: 500 15px 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.ribbon-top-left {
  top: -13px;
  left: -13px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -13px;
  top: 30px;
  transform: rotate(-45deg);
}